*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: Source Sans Pro, sans-serif;
}
h2, h3{
    text-align: center;
    color: #0000008c; 
}
.container, .container-table{
    max-width: 1024px;
    margin: 0 auto;
}
.container-info{
    font-size: 1.1rem;
    text-align: center;
    color: #0000008c;
    margin: 50px auto;
    line-height: 2.5rem;
    max-width: 600px;
}
/* Header */
.topo{
    background-color: #5be1f3;
}
.imagem-logo{
    width: 120px;
    height: auto;
}
img{
    width: 100%;
}
.container-topo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.menu ul li a, .menu-lista-especialidades li a{
    font-weight: 600;
    font-size: 1.1rem;
}
.menu ul li a{
    color: #fff;
}
.menu ul li a:hover{
    color: #000;
}
/* links especialidades */
.menu-lista-especialidades{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
    list-style: none;
}
.menu-lista-especialidades li a{
    color: #0000008c;
    border-bottom: #5be1f3 2px solid;
}
/* Especialidades */
.container-table{
    display: flex;
    max-width: 1024px;
    justify-content: center;
    font-size: 1rem;
}
.container-table img{
    width: 260px;
    height: 260px;
    object-fit: cover;
}
.tabela-especialidades{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
.tabela-especialidades tr th, .tabela-especialidades tr td{
    padding: 10px;
}
.tabela-especialidades tr:nth-of-type(even){
    background-color: #ebe6e6;
}
.tabela-especialidades tr:nth-of-type(odd){
    background-color: #c7c4c4;
}
.tabela-especialidades tr th{
    background-color: #57ebe3;
}
/* Rodapé */
.rodape{
    background-color: #3ebba6;
    color: #fff;
}
.rodape .container-info{
    margin-bottom: 0px;
    padding: 20px 0;
}