*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Source Sans Pro, sans-serif;
    background-color: #f4f4f4;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.container-info{
    text-align: center;
}